<form action="/new" method = "POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder = "e.g. John">
    <label for="message">Message:</label>
    <textarea id="message" name="message" placeholder = "e.g. Hello World" rows = "5"></textarea>
    <div id = "button-container">
      <a href = "/">return</a>
      <button type="submit">Send Message</button>
    </div>