<!DOCTYPE html>
<html>
  <%-include("./partials/head.ejs")%>
  <link rel='stylesheet' href='/stylesheets/styleMessage.css' />
</head>
  <body>
    <nav>
      <h1><%= title %></h1>
    </nav>
    <%- include('./partials/form_partial.ejs')%>
    </form>
  </body>
</html>